body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header input {
  float: right;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  margin: 0 0 0 8px;
  padding: 8px 0;
}

.content {
  grid-area: content;
  grid-column: span 2;
}

.footer {
  grid-area: footer;
  background-color: lightblue;
  text-align: center;
}
li:active {
  background-color: orange;
}
